email=admin@example.org
npm adduser --registry=http://52.91.187.188:8081/repository/npm-private/--always-auth
echo -n 'admin:admin123' | openssl base64
##always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
